* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #eee;
}

.layout {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.characters {
    display: flex;
    justify-content: space-between;
}

.characters__player {
    width: 45%;
    height: auto;
    padding: 10px;
}

.characters__nick {
    justify-content: center;
    text-align: center;
}

.characters__pic {
   height: 250px;
   width: 100%;
   display: block;
   position: relative;
}

.characters__pic-avatar {
   height: 250px;
   width: 100%;
   display: block;
   object-fit: cover;
}

.characters__pic-dead {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
    transition: all 0.7s ease;
}

.characters__pic-dead.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5) rotate(-35deg);
}

.characters__hp {
    height: 20px;
    border-radius: 5px;
    background: #444;
}

.characters__hp-bar {
    height: 20px;
    border-radius: 5px;
    background: green;
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls button {
    padding: 10px;
}

.logs {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.logs__log {
    margin-top: 20px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #555;
    background: #111;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.logs__clear {
    width: 150px;
    padding: 10px;
    text-align: center;
    align-self: flex-end;
}

/*atk effects*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

/*slash effect pic*/
.characters__pic-slashHit {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: auto;
    top: 30%;
    left: 20%;
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity 0.3s, transform 0.3s;
}

.characters__pic-slashHit.show {
    opacity: 1;
    transform: rotate(45deg);
}

/*healing effect pic*/
.characters__pic-heal {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1.2s ease;
}

.characters__pic-heal.show {
    transform: translate(-50%, -50%) scale(0.5);
}

/*level up effect*/
.characters__pic-lvlUp {
    position: absolute;
    z-index: 2;
    width: 150px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1.5s ease;
}

.characters__pic-lvlUp.show {
    transform: translate(-50%, -50%) scale(0.7);
}

/*Damage numbers effect*/
.characters__pic-dmgNumber {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 50%;
    color: #ff4c4c;
    font-size: 24px;
    transform: translate(-50%, 20%);
    transition: all 1.5s ease;
}

.characters__pic-dmgNumber.show {
    top: 10%;
    transform: translate(-50%, 10%) scale(0.7);
}

/*statistic block*/
.statistic {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 600px;
    padding: 10px;
}

.statistic__title {
    color: green;
    font-weight: bold;
}

.statistic__counter {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
}

.statistic__info-mobKills {
    color: red;
}

/*buff effect*/
.characters__pic-buffEffect {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: auto;
    top: 3%;
    left: 5%;
}
